//- extends /snippets/layout
append content
	//- .modal-container
	-var modalId = product._id+"Modal"
	-var productType = product.product_type
	.l.text-styling-products.portfolio-modal.modal.fade(id=modalId,class=product.product_type.replace(' ', '-')+"-Modal productModal", tabindex='-1', role='dialog', aria-hidden='true')
		.modal-content
			.close-modal(data-dismiss='modal')
				.lr
					.rl
			.container-fluid
				.row
					.col-lg-16.col-lg-offset-4
						.modal-body
							h2.product-title= product.title
							-if(productType == 'Grow Light')
								.l-title Energy Specs
							-else if (productType == 'Grow Tent')
								.l-title Specs
							-else
								//- .l-title Specs
							ul.list-inline.item-details-product
								-if(product.product_type == 'Grow Light')
									li Wattage Draw: 
										strong=" "+product.wattageFormatted()
											
									li Theoretical Wattage: 
										strong=" "+product.theoreticalWattageFormatted()
											
									-if(product.lumens)
										li Lumens:
											strong=" "+product.lumensFormatted()
									.l-title.l-nudge-down-more-more Diodes
									.l-group.diodes
										.l-subgroup
											li Diode Count:
												strong=" "+product.ledCount()
											li Theoretical Diode Wattage:
												strong=" "+product.ledWattageFormatted()
											li Diode Wattage Reduction:
												strong=" "+product.ledEfficiencyFormatted()
											li Diode Wattage Draw:
												strong=" "+product.ledWattage/2 + "W"
											li Lense Angle:
												strong=" "+product.lensAngle
									.l-title.l-nudge-down-more-more Dimensions
									.l-group.dimensions-list
										li  Width:
											strong=" "+product.width+product.unit
										li  Height:
											strong=" "+product.height+product.unit
										li  Depth:
											strong=" "+product.depth+product.unit
									.l-title.l-nudge-down-more-more= product.spectrum.length +" Band Spectrum"											
									.l-group.spectrum-list
										each wavelength, index in product.spectrum
											-if(index !== product.spectrum.length-1) 
												-var comastring = ', '
											-else
												-var comastring = ''
											-if(wavelength.wavelength)
												li= (wavelength.percent*100).toFixed(2)+"% "
													strong=" " + wavelength.wavelength + "nm"+comastring 
											-else if(wavelength.temperature)
												li= (wavelength.percent*100).toFixed(2)+"% "
													strong=" "+ wavelength.temperature + "k"+comastring

								-else if(product.product_type == 'Grow Tent')
									li Tent Material: 
										strong=" "+product.materialOutFormatted()
									li Inner Material: 
										strong=" "+product.materialIn
									.l-title.l-nudge-down-more-more Dimensions
									.l-group.dimensions-list
										li  Width:
											strong=" "+product.width+product.unit
										li  Height:
											strong=" "+product.height+product.unit
										li  Depth:
											strong=" "+product.depth+product.unit
								-if(product.product_type == 'Grow Tent')
									.l-title.l-nudge-down-more-more.l-nudge-below Vents 
									ul.list-inline.item-details-product.vents-list 
										each vent, index in product.vents
											-var indexTo = index
											.l-group
												strong= (indexTo+1)+thStr((indexTo+1))+" size "
												ul.inner-vent-ul
													-if(vent.shape == 'circle')
														li Diametre: 
															strong= vent.width+" inches"
														li Quantity: 
															strong= vent.qty
														li Shape: 
															strong= vent.shape
													-else if(vent.shape == 'rectangle')
														li Width: 
															strong= vent.width+" inches"
														li Height: 
															strong= vent.height+" inches"
														li Quantity: 
															strong= vent.qty
														li Shape: 
															strong= vent.shape
													
							.preview-product-gallery(align='center')
								img(name='name'+product._id+"Preview",  data-original=product.images[0].src, sizes="100vw, 100vw", alt=product.vendor+" "+product.product_type+" "+product.title)
							.product-gallery-thumbnails
								each image, key in product.images
									img.thumb(onmouseover='name'+product._id+'Preview.src=name'+product._id+key+'.src', name='name'+product._id+key,  data-original=image.src, data-set=image.src, sizes="100vw, 100vw", alt=product.vendor+" "+product.product_type+" "+product.title)
							.product-description!= product.body_html

							.l-group.l-wide
								.price Price:
									//- -if(typeof product.priceFormatted !== 'function')
									strong= product.formatted_price
									//- strong= product.priceFormatted()
									//- li
									//- 	| Coverage area at hang height 20cm, 40cm, 100cm:
									//- 	strong
									//- 		a(href='http://ozledgrowlights.com.au/how-to-calculate-coverage.html') 1.2m X 1.2m (1.44M ^2), 2m X 2m (4M ^2), 3.9m X 3.9m (15.2M ^2)
									//- li
									//- 	| Lumens per Square Metre at Hang Height 20cm, 40cm, 100cm:
									//- 	strong
									//- 		a(href='http://ozledgrowlights.com.au/how-to-calculate-coverage.html') 16,600 Lumens, 5500 Lumens, 1280 Lumens per Metre/squared
							.combo-button-container
								.combo-button.clearfix(id=product.shopifyProductId+"-"+product.shopifyVariantId)
									a.order-button add to order
									a.shop-cart-button
										i.fa.fa-shopping-cart(aria-hidden='true')
							
					-if(product.product_type == 'Grow Light')
						.col-lg-16.col-lg-offset-4
							-var growLight = product
							-var wait = true
							include /snippets/grow.ai/growLightCoverage
										
							//- .close-button
							//- 	button.btn.btn-default(type='button', data-dismiss='modal')
							//- 		i.fa.fa-times
							//- 		|  Close

			script.
				$('document').ready(function(){
					$("##{modalId}").attrchange({
						trackValues: true,
						callback: function(evnt){
							if(evnt.attributeName == 'class'){
								if(evnt.newValue.search(/\sin\s|^in$|^in\s|in$/i) >= 0){
									setTimeout(window.scrollBy(0,1), 3000)      
								}
							}

						}
					})
				})