-var uuid = uuidv4()
.sceneContainer.col-lg-24.growTentSceneContainer(id="sceneContainer"+uuid).l
	.scene(id="scene"+uuid)
		//- -if(growTent)
		//-     .growTent-labels-positioner
		//-         .growTent-labels-container
		//-             .growTent-label.vendor
		//-                 span= growTent.vendor
		//-             .growTent-label.price
		//-                 span= growTent.price_formatted
-if(growTent)
	script.
		if(!globalGrowTentPxr){
			var globalGrowTentPxr
		}
		//- $('document').ready(function() {
			var scene = new Scene({
				render: true,
				heightRatio: 70,
				perspective: 1800,
				id: "scene#{uuid}",
				containerId: "sceneContainer#{uuid}",
				sizeType: "object",
				pxr: globalGrowTentPxr
			})
			var growTent = !{mts(growTent)}
			var growRoom = new Growroom(
				!{mts(growTent)}, 
				{
					render: true, 
					ratio: 5, 
					class: 'tent',
					position: {
						x: 0,
						y: 0,
						z: 0,
						rx: 0,
						unit: "cm"
					},
					id: "growRoom#{uuid}",
					renderDimensionLabels: true,
					mongoId: "#{growTent._id}",
					scene: scene,
				}
			)
			growRoom.labels.push(                    
				new Cube({
					height: 12,
					width: 25,
					depth: 1,
					unit: "cm",
					sides: [],
					type: '2d',
					class: 'tentMoreInfoLabel',
					id: 'growRoom#{uuid}moreInfoLabel',
					group: {
						class: 'dataLabels',
						id: growRoom.id+"dataLabels"
					},
					parent: growRoom.object,
					position: {
						x: (growRoom.width-25),
						y: (growRoom.height/5)*4,
						z: 0,
						unit: "cm"
					},
					data: {
						text: "more info",
						link: undefined,
						do: 'openModal("'+growRoom.mongoId+'Modal")'
					}
				})
			)
			if(globalGrowTentPxr){} else {
				globalGrowTentPxr = scene.pxr
			}
		//- })
-else
	script.
		//- $(document).on('ready', function() {
			var scene = new Scene({
				render: true,
				heightRatio: 90,
				perspective: 1200,
				id: "scene#{uuid}",
				containerId: "sceneContainer#{uuid}",
				sizeType: "object"
			})
			var growRoom = new Growroom({
				height: 2,
				width: 4,
				depth: 2.5,
				unit: 'm',
				//- height: 2,
				//- width: 4,
				//- depth: 2.5,
				//- unit: 'm',
				ratio: 70,
				render: true,
				id: "growRoom#{uuid}",
				class: 'tent',
				scene: scene,
				position: {
					x: 0,
					y: 0,
					z: 0,
					rx: 0,
					unit: "cm"
				},
				renderDimensionLabels: true
			})	
			//- var growLightTemplate = !{mts(growLightModels.custom["Rainbow"])}
			//- growLightTemplate.renderRules.object = true		
			//- growLightTemplate.renderRules.light = true
			//- growLightTemplate.scene = scene	
			//- var growLight = new GrowLight(
			//- 	growLightTemplate
			//- )
			//- growRoom.lights.push(
			//- 	growLight    
			//- )

		//- })