//- growLightsSection.pug
append content
	#growlights.growLightsSection.l
		.container-fluid
			.row
				.col-xs-24.title-col
					h3.lights-section-title Let there be 
						h1.lights-section-title Light
			.row
				each growLightModel, key1 in growLightModels.commerce
					.col-xs-24.model-col
						a(href="/products/growlights/"+growLightModel.products[0].model.toLowerCase().replace(/ /g, ''))
							h1.model-title= growLightModel.products[0].model
						.col-xs-24.product-col
							-var currentModel = growLightModel.products[0].model.replace(' ','-')
							-var sliderUuid = uuidv4()
							.slick-slider-custom(class=currentModel+"Slider", id=sliderUuid)
								each growLight, key2 in growLightModel.products
									-growLight.object.type = '2d'
									.slick-slide(style="z-index: "+(150-key2)+";")
										-if(growLight.model == currentModel)
											include /snippets/grow.ai/growLight
							script(type='text/javascript').
								//- $(document).ready(()=>{
									$('.#{currentModel}Slider').slick({
										arrows: true,
										centerMode: false
										//- lazyLoad: 'progressive'
									})
								//- })
								//- $(document).ready(function(){
										//- if(globalGrowLightPxr){} else {
										//- 	globalGrowLightPxr = scene.pxr
										//- }
										var globalGrowLightPxr
										//- for(prop in l3.ai.scenePxrs){
										//- 	if(l3.ai.scenePxrs.hasOwnProperty(prop)){
										//- 		if(l3.ai.scenePxrs['gGLPxr']){
										//- 			//- var globalGrowLightPxr = l3.ai.scenePxrs[prop]
										//- 			var globalGrowLightPxr = l3.ai.scenePxrs['gGLPxr']
										//- 		}
										//- 	}
										//- }
										if(l3.ai.scenePxrs['gGLPxr']){
											//- var globalGrowLightPxr = l3.ai.scenePxrs[prop]
											var globalGrowLightPxr = l3.ai.scenePxrs['gGLPxr']
										}
										var uuid = uuidv4()
										$('##{sliderUuid} .slick-cloned:nth-of-type(1) .sceneContainer').attr('id', 'sceneContainer'+uuid)
										$('##{sliderUuid} .slick-cloned:nth-of-type(1) .scene').attr('id', 'scene'+uuid)
										var scene = new Scene({
											render: true,
											id: "scene"+uuid,
											containerId: "sceneContainer"+uuid,
											sizeType: "object",
											pxr: globalGrowLightPxr,
											type: '2d'
										})
										scene.clear({pxr: false})
										var growLightTemplate = !{ts(growLightModel.products[growLightModel.products.length-1])}
										growLightTemplate.scene = scene
										var growLight = new GrowLight(growLightTemplate)										
										var uuid1 = uuidv4()

										$('##{sliderUuid} .slick-cloned:nth-of-type(#{growLightModel.products.length+2}) .sceneContainer').attr('id', 'sceneContainer'+uuid1)
										$('##{sliderUuid} .slick-cloned:nth-of-type(#{growLightModel.products.length+2}) .scene').attr('id', 'scene'+uuid1)
										var scene1 = new Scene({
											render: true,
											id: "scene"+uuid1,
											containerId: "sceneContainer"+uuid1,
											sizeType: "object",
											pxr: globalGrowLightPxr,
											type: '2d'
										})
										scene1.clear({pxr: false})
										var growLightTemplate1 = !{ts(growLightModel.products[0])}											
										growLightTemplate1.scene = scene1
										var growLight1 = new GrowLight(growLightTemplate1)									
								//- })